body {
  font-family: 'Cormorant', sans-serif;
  background-color: #dfe0d1;
}
main {
  margin: 10px;
}
a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}
@-webkit-keyframes image-move {
  from {width: 25px;}
  to {width: 100px;}
}

@keyframes image-move {
  from {width: 25px;}
  to {width: 100px;}
}

#logo {
   animation-name: image-move;
   animation-duration: 0s; /*CHANGE TO A NUMBER!!!*/
   animation-iteration-count: 1;
   max-width: 100px;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
}

/*navigation*/
nav h1 {
  color: blue;
  font-size: 15px;
  text-align: center;
}
nav li {
  list-style-type: none;
  font-size: 15px;
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 3px;
}
nav a:link, nav a:visited {
  color: black;
  text-decoration: none;
}
nav a:hover, nav a:focus {
  text-decoration: none;
  font-size: 20px;
}
nav .active {
  border: 1.5px solid;
  background-color: #8badf0;
}

/*home page*/
.container1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
}
.titles {
  grid-row: 1 / span 1;
  text-align: center;
  color: #462766;
}
.info {
  grid-row: 2 / span 1;
  padding: 10px;
}
.info p {
  padding: 5px;
  color: #d117b2;
}
.contact-form {
  grid-row: 3 / span 1;
  padding: 10px;
  color: #d117b2;
}

/*movie generator*/
.action, .comedy, .drama, .dance, .horror, .family-kids {
  font-size: 30px;
  border: 2px solid blue;
  padding: 30px;
  margin: 10px;
}
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.action-cat, .comedy-cat, .horror-cat, .drama-cat, .dance-cat, .family-kids-cat {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 150px;
  box-shadow: 10px yellow;
  padding: 10px;
  text-align: center;
}
.d-movies, .gv-movies, .ad-movies, .sup-movies, .vac-movies, .lol-movies, .dark-movies, .wack-movies, .hol-movies, .romcom-movies, .crime-movies, .sci-movies, .sing-movies, .dance-movies, .doll-movies, .sk-movies, .scifi-movies, .mon-movies, .slash-movies, .hs-movies, .anim-movies, .child-movies, .fam-movies {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 150px;
  box-shadow: 10px yellow;
  padding: 10px;
}
.action:hover .action-cat, .comedy:hover .comedy-cat, .drama:hover .drama-cat, .dance:hover .dance-cat, .horror:hover .horror-cat, .family-kids:hover .family-kids-cat {
  display: flex;
  flex-direction: column;
}
.action-cat p:hover {
  border: 2px solid black;
  background-color: yellow;
}



/*top 10*/
.container3 ul, .container3 a {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  color: black;
  padding: 10px;
}
.container3 a:hover {
  font-size: 25px;
  color: #f067e7;
}
.years-container {
  display: flex;
  flex-wrap: wrap;
}
.image-1980, .image-1981, .image-1982, .image-1983, .image-1984, .image-1985, .image-1986, .image-1987, .image-1988, .image-1989 {
  display: flex;
  text-align: center;
  width: 100vw;
  height: 40vh;
  overflow-y: scroll;
  border: 3px solid black;
  background-color: #efe0ff;
  margin: 15px;
}
.image-1980 img, .image-1981 img, .image-1982 img, .image-1983 img, .image-1984 img, .image-1985 img, .image-1986 img, .image-1987 img, .image-1988 img, .image-1989 img {
  border: 2px solid #adadad;
}
figure {
  width: 100%; /*300px;*/
  margin: 10px;
  flex-basis: 300px;
}
figure img {
  height: 30vh; /*needs to be bigger for mobile view*/
}




/*facts and information*/
.container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  margin: 10px;
  margin-right: 15px;
}
.movie-info1, .movie-info2, .movie-info3 {
  text-align: center;
}
.movie-info1 li, .movie-info2 li, .movie-info3 li {
  padding: 5px;
  list-style-type: none;
}
.movie-info1 {
  grid-column: 1 / span 1;
  grid-row: 6 / span 1;
}
.movie-info2 {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
}
.movie-info3 {
  grid-column: 3 / span 1;
  grid-row: 6 / span 1;
}
.photos {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  padding: 10px;
  text-align: center;
}
.photos-raiders img, .photos-ferris img, .photos-ghost img, .photos-pink img, .photos-future img, .photos-scarface img, .photos-outsider img, .photos-empire img, .photos-bfast img {
  /* width: 35vw;
  height: 40vh;
  padding: 10px; for non-mobile do in media-query for min height thing^*/
  width: 25vw;
  height: 100px;
  align-items: bottom;
}
.photos-raiders, .photos-ferris, .photos-ghost, .photos-pink, .photos-future, .photos-scarface, .photos-outsider, .photos-empire, .photos-bfast {
  text-align: center;
  padding: 15px;
}
.photos-raiders {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.photos-ferris {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
.photos-ghost {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}
.photos-pink {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}
.photos-future {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}
.photos-scarface {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}
.photos-outsider {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}
.photos-empire {
  grid-column: 2 / span 1;
  grid-row:  5 / span 1;
}
.photos-bfast {
  grid-column: 3 / span 2;
  grid-row: 5 / span 1;
}
.fun-facts {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  text-align: justify;
}
.fun-facts h2, .fun-facts p {
  text-align: center;
}
.fun-facts li {
  padding-bottom: 20px;
}

footer {
  text-align: center;
  color: white;
  background-color: black;
  margin: 0;
}
@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}
