body {
  font-family: 'Cormorant', sans-serif;
  background-color: #e7e7dc;
}
main {
  margin: 10px;
}
a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}
@-webkit-keyframes image-move {
  from {width: 25px;}
  to {width: 100px;}
}

@keyframes image-move {
  from {width: 25px;}
  to {width: 100px;}
}

#logo {
   animation-name: image-move;
   animation-duration: 1s; /*CHANGE TO A NUMBER!!!*/
   animation-iteration-count: 1;
   max-width: 100px;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
}

/*navigation*/
nav h1 {
  color: blue;
  font-size: 15px;
  text-align: center;
}
nav li {
  list-style-type: none;
  font-size: 15px;
  /* text-align: center; */
  color: black;
  text-decoration: none;
  padding: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
nav a:link, nav a:visited {
  color: black;
  text-decoration: none;
}
nav a:hover, nav a:focus {
  text-decoration: none;
  font-size: 20px;
}
nav .active {
  border: 1.5px solid;
  background-color: #f45ae6;
}

/*home page*/
.container1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr 1fr;
}
.titles, .fun-facts h2, .movie-info1 h2, .movie-info2 h2, .movie-info3 h2, .photos h2 {
  grid-row: 1 / span 1;
  text-align: center;
  text-shadow: 2px 2px 5px #e1ad01;
  color: black;
  font-size: 25px;
  padding-bottom: 15px;
}
.info {
  grid-row: 2 / span 1;
  padding: 10px;
}
.info p {
  padding: 10px;
  color: #40025c;
}
.contact-form p {
  grid-row: 3 / span 1;
  padding: 40px 20px 20px 20px;
  color: #40025c;
}

/*movie generator*/
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.action, .comedy, .drama, .dance, .horror, .family {
  background-color: transparent;
  width: 200px;
  height: 200px;
  /* border: 2px solid blue; PROBLEM HERE */
  padding: 30px;
  margin: 10px;
}
.action-inner img, .comedy-inner img, .drama-inner img, .dance-inner img, .horror-inner img, .family-inner img {
  border: 2px solid black;
}
.action-inner, .comedy-inner, .drama-inner, .dance-inner, .horror-inner, .family-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.action:hover .action-inner, .comedy:hover .comedy-inner, .drama:hover .drama-inner, .dance:hover .dance-inner, .horror:hover .horror-inner, .family:hover .family-inner {
  transform: rotateY(180deg);
}
.action-front, .action-back, .comedy-front, .comedy-back, .drama-front, .drama-back, .dance-front, .dance-back, .horror-front, .horror-back, .family-front, .family-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.action-front, .comedy-front, .drama-front, .dance-front, .horror-front, .family-front {
  background-color: #bbb;
  color: black;
}
.action-back, .comedy-back, .drama-back, .dance-back, .horror-back, .family-back {
  border: 2px solid black;
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}
.action-back p, .comedy-back p, .drama-back p, .dance-back p, .horror-back p, .family-back p {
  padding: 10px;
}
.d-movies, .gv-movies, .ad-movies, .sup-movies, .vac-movies, .lol-movies, .dark-movies, .wack-movies, .hol-movies, .romcom-movies, .crime-movies, .sci-movies, .sing-movies, .dance-movies, .doll-movies, .sk-movies, .scifi-movies, .mon-movies, .slash-movies, .hs-movies, .anim-movies, .child-movies, .fam-movies {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 150px;
  box-shadow: 10px yellow;
  padding: 10px;
}
.action-back:hover .d-movies, .action-back:hover .gv-movies, .action-back:hover .ad-movies, .action-back:hover .sup-movies, .comedy-back:hover .vac-movies, .comedy-back:hover .lol-movies, .comedy-back:hover .dark-movies, .comedy-back:hover .wack-movies, .comedy-back:hover .hol-movies,
.drama-back:hover .romcom-movies, .drama-back:hover .crime-movies, .drama-back:hover .sci-movies, .dance-back:hover .sing-movies, .dance-back:hover .dance-movies, .horror-back:hover .doll-movies, .horror-back:hover .sk-movies, .horror-back:hover .scifi-movies, .horror-back:hover .mon-movies, .horror-back:hover .slash-movies,
.family-back:hover .hs-movies, .family-back:hover .anim-movies, .family-back:hover .child-movies, .family-back:hover .fam-movies {
  display: flex;
  flex-direction: column;
}
.d-movies p, .gv-movies p, .ad-movies p, .sup-movies p, .vac-movies p, .lol-movies p, .dark-movies p, .wack-movies p, .hol-movies p, .romcom-movies p, .crime-movies p, .sci-movies p, .sing-movies p, .dance-movies p, .doll-movies p, .sk-movies p, .scifi-movies p,
.mon-movies p, .slash-movies p, .hs-movies p, .anim-movies p, .child-movies p, .fam-movies p {
  padding: 10px;
}




/*top 10*/
.container3 ul, .container3 a {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  color: black;
  padding: 10px;
}
.container3 a:hover {
  font-size: 25px;
  color: #e1ad01;
}
.years-container {
  display: flex;
  flex-wrap: wrap;
}
.image-1980, .image-1981, .image-1982, .image-1983, .image-1984, .image-1985, .image-1986, .image-1987, .image-1988, .image-1989 {
  display: flex;
  text-align: center;
  width: 100vw;
  height: 40vh;
  overflow-y: scroll;
  border: 3px solid black;
  background-color: #efe0ff;
  margin: 15px;
}
.image-1980 img, .image-1981 img, .image-1982 img, .image-1983 img, .image-1984 img, .image-1985 img, .image-1986 img, .image-1987 img, .image-1988 img, .image-1989 img {
  border: 2px solid #adadad;
}

figure {
  width: 100%; /*300px;*/
  margin: 10px;
  flex-basis: 300px;
}
figure img {
  height: 30vh; /*needs to be bigger for mobile view*/
}




/*facts and information*/
.container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  margin: 10px;
  margin-right: 15px;
}
.movie-info1, .movie-info2, .movie-info3 {
  text-align: center;
}
.movie-info1 li, .movie-info2 li, .movie-info3 li {
  padding: 5px;
  list-style-type: none;
}
.movie-info1 {
  grid-column: 1 / span 1;
  grid-row: 6 / span 1;
}
.movie-info2 {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
}
.movie-info3 {
  grid-column: 3 / span 1;
  grid-row: 6 / span 1;
}
.photos {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  padding: 10px;
  text-align: center;
}
.photos-raiders img, .photos-ferris img, .photos-ghost img, .photos-pink img, .photos-future img, .photos-scarface img, .photos-outsider img, .photos-empire img, .photos-bfast img {
  /* width: 35vw;
  height: 40vh;
  padding: 10px; for non-mobile do in media-query for min height thing^*/
  width: 25vw;
  height: 100px;
  align-items: bottom;
}
.photos-raiders, .photos-ferris, .photos-ghost, .photos-pink, .photos-future, .photos-scarface, .photos-outsider, .photos-empire, .photos-bfast {
  text-align: center;
  padding: 15px;
}
.photos-raiders {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.photos-ferris {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
.photos-ghost {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}
.photos-pink {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}
.photos-future {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}
.photos-scarface {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}
.photos-outsider {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}
.photos-empire {
  grid-column: 2 / span 1;
  grid-row:  5 / span 1;
}
.photos-bfast {
  grid-column: 3 / span 2;
  grid-row: 5 / span 1;
}
.fun-facts {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  text-align: justify;
}
.fun-facts h2, .fun-facts p {
  text-align: center;
}
.fun-facts li {
  padding-bottom: 20px;
}

/*contact form*/
form {
  border: 2px solid;
  padding: 10px;
}
legend {
  font-size = 120%;
  text-transform: uppercase;
  text-align: center;
}
label {
  display: inline-block;
  margin-right: 10px;
  width: 15%;
}
input {
  width: 100%;
  padding: 11px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 2px solid black;
  box-sizing: border-box;
}
input:focus {
  border: 5px;
  background-color: #D0D0D2
}
textarea {
  width: 100%;
  height: 40vh;
  padding: 11px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 2px solid black;
  box-sizing: border-box;
}
input[type=checkbox] {
  display: inline;
  width: inherit;
}

footer {
  text-align: center;
  color: white;
  background-color: black;
  margin: 0;
}


@media screen and (min-width: 850px) {
  nav li {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
  }
  #logo {
    display: flex;
    align-items: flex-end;
  }
}

@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}
