body {
  font-family: 'Cormorant', sans-serif;
}
main {
  margin: 10px;
}
/*navigation*/
nav h1 {
  color: blue;
  font-size: 30px;
  text-align: center;
}
nav li {
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 3px;
}
nav a:link, nav a:visited {
  color: black;
  text-decoration: none;
}
nav a:hover, nav a:focus {
  text-decoration: none;
  font-size: 25px;
}
nav .active {
  border: 1.5px solid;
  background-color: cyan;
}


/*movie generator*/
.action, .comedy, .drama, .dance, .horror, .family-kids {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 30px;
  border: 2px solid blue;
  padding: 30px;
  margin: 10px;
}
.action-cat, .comedy-cat, .horror-cat, .drama-cat, .dance-cat, .family-kids-cat {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 150px;
  box-shadow: 10px yellow;
  padding: 10px;
  text-align: center;
}
.d-movies, .gv-movies {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 150px;
  box-shadow: 10px yellow;
  padding: 10px;
}
.action:hover .action-cat {
  display: flex;
  flex-direction: column;
}
.action-cat p:hover {
  border: 2px solid black;
  background-color: yellow;
}



/*top 10*/
.container3 ul, .container3 a {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style-type: none;
  color: black;
}
.container3 a:hover {
  font-size: 25px;
  color: green;
}
.image-1980, .image-1981, .image-1982, .image-1983, .image-1984, .image-1985, .image-1986, .image-1987, .image-1988, .image-1989 {
  display: flex;
  text-align: center;
  /* justify-content: space-around; */
  width: 100vw;
  height: 40vh;
  overflow-y: scroll;
  border: 3px solid black;
  margin: 15px;
}
figure {
  width: 300px;
  margin: 10px;
  flex-basis: 300px;
}
figure img {
  height: 30vh; /*needs to be bigger for mobile view*/
}




/*facts and information*/
.container4 {
  display: grid;
  margin: 10px;
}
.movie-info1, .movie-info2, .movie-info3 {
  text-align: center;
}
.movie-info1 li, .movie-info2 li, .movie-info3 li {
  padding: 5px;
  list-style-type: none;
}
.movie-info1 {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}
.movie-info2 {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}
.movie-info3 {
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
}
.photos-raiders img, .photos-ferris img, .photos-ghost img, .photos-pink img, .photos-future img, .photos-scarface img, .photos-outsider img, .photos-empire img, .photos-bfast img {
  width: 35vw;
  height: 40vh;
  padding: 10px;
}
.photos-raiders, .photos-ferris, .photos-ghost, .photos-pink, .photos-future, .photos-scarface, .photos-outsider, .photos-empire, .photos-bfast {
  text-align: center;
}
.photos-raiders {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.photos-ferris {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.photos-ghost {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
.photos-pink {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.photos-future {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
.photos-scarface {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}
.photos-outsider {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}
.photos-empire {
  grid-column: 2 / span 1;
  grid-row:  4 / span 1;
}
.photos-bfast {
  grid-column: 3 / span 2;
  grid-row: 4 / span 1;
}
.fun-facts {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  text-align: justify;
}
.fun-facts h2, .fun-facts p {
  text-align: center;
}
.fun-facts li {
  padding-bottom: 20px;
}

footer {
  text-align: center;
  color: white;
  background-color: black;
  margin: 0;
}
